<% content_for :context_title do %>  
  <%= "#{@item.code} - #{@item.name}" %>
<% end %>

<%= form_with(url: item_transactions_path, model: [@item, @transaction], local: true, role: 'form') do |f| %>
  <table class="form-table" id="inventory-transactions-table">
    <thead>
      <%= render 'inventory/transactions/index/table_head' %>
    </thead>
    <tbody>
      <%= render partial: 'inventory/item_transactions/form', locals: {f: f} %>
      <%= render 'inventory/transactions/index/table_body'%>
    </tbody>
  </table>
<% end %>



