<div class="row">
  <div class="col-12">
    <div class="major-data-field">
      <div class="col-5 text-right major-label">Order Number</div>
      <div class="col-7 major-value h5"><%= @order.order_number %></div>
    </div>
    <div class="major-data-field">
      <div class="col-5 text-right major-label">Customer</div>
      <div class="col-7 major-value h5"><%= @order.customer_account.name %></div>
    </div>
    <div class="data-field mb-1">
      <div class="col-5 text-right data-label">Customer PO</div>
      <div class="col-7 data-value"><%= @order.po_number %></div>
    </div>
    <% if @order.po_pickup_date.present? %>
      <div class="data-field mb-1">
        <div class="col-5 text-right data-label">Requested Pickup On</div>
        <div class="col-7 data-value"><%= std_date(@order.po_pickup_date) %></div>
      </div>
    <% end %>
    <% if @order.po_ship_date.present? %>
      <div class="data-field mb-1">
        <div class="col-5 text-right data-label">Requested Ship On</div>
        <div class="col-7 data-value"><%= std_date(@order.po_ship_date) %></div>
      </div>
    <% end %>
  </div>
</div>
