<div><%= address.name %></div>
<div><%= address.line_1 if address.line_1.present? %></div>
<div><%= address.line_2 if address.line_2.present? %></div>
<div><%= "#{address.city}, " if address.city.present? %><%= address.state if address.state.present? %> <%= address.postal_code if address.postal_code.present? %></div>
<div><%= address.country_code if address.country_code.present? %></div>