<%#<%= form_with scope: "address", url: addresses_path, role: 'form' do |f| %>
<%= form_with(model: @address, url: locals[:path], local: true, role: 'form') do |f| %>
  <%= render 'layouts/alerts/errors', index: @address %>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :line_1 %>
    <%= f.text_field :line_1, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :line_2 %>
    <%= f.text_field :line_2, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country_code %>
    <%= f.text_field :country_code, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <%= link_to "Cancel", :back, :class => 'btn btn-secondary' %>
  </div>

<% end %>