  <tr class="table-form-row">

    <th scope="row" class="form-cell"><%= f.text_field :code, class: "form-control form-control-sm" %></th>
    <th class="form-group form-cell"><%= f.text_field :name, :class => "form-control form-control-sm" %></th>
    <th class="form-group form-cell"><%= f.collection_select :item_class_id, Inventory::ItemClass.all, :id, :code, {prompt: true}, {class: "form-control form-control-sm"} %></th>
    <th class="form-group form-cell"><%= f.collection_select :base_unit_id, Settings::Unit.all, :id, :code, {include_blank: true}, {class: "form-control form-control-sm"} %></th>
    <th></th>
    <th></th>
    <th></th>

    <th class="text-right form-cell">
      <div class="d-flex icon-group justify-content-between">
        <%= render "application/shared/link_save" %>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon">
          <%= link_to items_path do %>
            <i class="fas fa-trash-alt" title="Clear">
          <% end %></i>
        </div>
      </div>
    </th>

  </tr>