
<% content_for :context_title do %>
  Inventory Items
<% end %>

<div class="add-new sticky">
  <%= render 'application/shared/link_new' %>
</div>

<%= form_with(url: items_path, model: @item, id: "inventory_item_table_form", local: true) do |form| %>
  <%= render 'layouts/alerts/errors', index: @item %>
  <table class="form-table" id="items-table">
    <thead>
      <%= render 'index_table_head' %>
    </thead>
    <tbody>
      <%= render partial: "index_form", locals: {f: form} %>
      <%= render 'index_table_body'%>
    </tbody>
  </table>
<% end %>