<%= form_with(model: [@item, @item_lot], url: locals[:path], local: true) do |f| %>
  <%= render 'layouts/alerts/errors', index: @item_lot %>

  <div class="row">
    <div class="col-xl-6">

      <% if @item.inventory_class.lot_format == 'Text' %>

        <div class="form-group" id="text-input-group">
          <%= f.label :lot_code %>        
          <%= f.text_field :lot_code, class: "form-control", id: "item-lot-text-input" %>
        </div>

      <% elsif @item.inventory_class.lot_format == 'Date' %>
        
        <div class="form-group" id="date-input-group">
          <%= f.label :lot_code %>        
          <%= f.date_field :lot_code, class: "form-control", id: "item-lot-date-input" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :expire_date %>
        <%= f.date_field :expire_date, class: "form-control" %>
      </div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="form-group">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        <%= link_to "Cancel", :back, :class => 'btn btn-secondary' %>
      </div>
    </div>
  </div>

<% end %>