<% content_for :app_container do %>    
  <div class="full-height d-flex flex-column">          
    <%= render "layouts/navbar" %>    
    <div class="flex-grow-1 d-flex align-items-stretch" id="app-window">
      
      <nav id="sidebar" class="d-none d-xl-block">
        <%= render "/layouts/accordion_menu" %>
      </nav>
      
      <div id="content-window">
        <div class="window sticky">
          <div class="d-flex flex-row">
            <div>               
              <h3 class="app-title pt-2"><%= content_for?(:context_title) ? yield(:context_title) : app_page_title %></h3>
              <%# ...render the :context_title code in the model action view %>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>      
    </div>     
  </div>
<% end %>

<%= render template: "layouts/application" %>